# Игнорировать виртуальное окружение
venv/
.env/

# Игнорировать базу данных SQLite
instance/site.db

# Игнорировать файлы конфигурации среды разработки
*.vscode/
.idea/

# Игнорировать файлы Python
*.pyc
*.pyo
__pycache__/

# Игнорировать логи
*.log

# Игнорировать сгенерированные файлы сессий
*.sqlite3

# Игнорировать файлы для тестирования (если они существуют)
*.coveragerc
*.tox/
*.nox/
*.coverage
nosetests.xml
coverage.xml
*.hypothesis/

# Игнорировать скомпилированные файлы Python
*.pyd
*.pyo

# Игнорировать временные файлы
*.bak
*.swp
