# Игнорировать виртуальное окружение
venv/
.env/

# Игнорировать базу данных SQLite
instance/
*.sqlite3

# Игнорировать файлы конфигурации среды разработки
.vscode/
.idea/

# Игнорировать файлы Python
*.pyc
*.pyo
__pycache__/
*.pyd

# Игнорировать логи
*.log

# Игнорировать сгенерированные файлы сессий
*.session

# Игнорировать файлы для тестирования (если они существуют)
.coverage
.tox/
.nox/
.coveragerc
nosetests.xml
coverage.xml
*.hypothesis/

# Игнорировать временные файлы
*.bak
*.swp
*.tmp

# Игнорировать кэш-библиотеки
pip-log.txt
pip-delete-this-directory.txt

# Игнорировать файлы и папки, создаваемые IDE и редакторами
*.idea/
*.vscode/

# Игнорировать файлы среды разработки PyCharm
*.iml
