{% extends "base.html" %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">Добро пожаловать на главную страницу!</h1>
        <p class="lead">Это главная страница вашего сайта.</p>
        <hr class="my-4">
        <p>Здесь вы можете управлять своими финансами, анализировать свои расходы и доходы.</p>
        <a class="btn btn-primary btn-lg" href="/dashboard" role="button">Перейти в личный кабинет</a>
    </div>
</div>
{% endblock %}
